#logo {
    font-size: 37px;
}

a, a #logo:active, a:focus, a #logo:visited{
    text-decoration: none;
    color: #ffffff;
}


#logo span {
    color: darkorange;
}

#headerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.favButton {
    background-color: transparent;
    color: #FF8C00FF;
    font-size: 37px;
    border: none;
    cursor: pointer;
    transition: transform 0.37s;
}

.favButton:hover {
    color: #ffffff;
}

@media (hover: none) {
    /* :hover-Stile deaktivieren */
    .favButton:hover {
        transform: scale(1);
    }
}



