@font-face {
    font-family: 'promtlight';
    src: url('../../public/Prompt-Light.ttf') format('truetype');
}

html {
    background-color: #000000;
    color: #ffffff;
    font-family: "promtlight", sans-serif;
}