#listHeaderDiv {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 13px 0;
}

.lupenButton {
    background-color: transparent;
    border: none;
    height: 35px;
    transition: transform 0.3s;
}

.lupe {
    width: 27px;
    height: 27px;
    fill: #ffffff;
    cursor: pointer;
    transform: scaleX(-1);
}

.lupenButton:hover {
    transform: scale(1.1);
}

@media (hover: none) {
    /* :hover-Stile deaktivieren und zu den Standardstilen zurückkehren */
    .lupenButton:hover {
        transform: scale(1);
    }
}

.searchInputOuterDiv {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 0 0 13px;
    align-items: center;
    width: 60%;
    max-width: 300px;
    height: 30px;
    border-radius: 20px;
    transition: position 1s, border 0.5s;
    position: relative;
    opacity: 0;
    animation: fadeInInput 0.5s forwards;
    border: solid 2px #000000;
}

.searchInputOuterDiv:hover {
    border: solid 2px darkorange;
}

@keyframes fadeInInput {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.searchInputOuterDiv input {
    border: none;
    line-height: 100%;
    font-size: 16px;
    width: 80%;

}


.searchInputOuterDiv input:focus {
    outline: none;
    border: none;
}

.searchInputOuterDiv input::placeholder {
    color: #b6b6b6;
    font-size: 13px;
    position: relative;
    bottom: 1px;
    font-weight: 100;
}

.searchInputDelX {
    color: #000000;
    margin: 0 14px 0 0;
    background-color: transparent;
    border: none;
    height: 100%;
    position: relative;
    bottom: 2px;
    cursor: pointer;
}

.searchInputDelX:hover {
    color: #FF8C00FF;
}

@media (hover: none) {
    /* :hover-Stile deaktivieren und zu den Standardstilen zurückkehren */
    .searchInputDelX:hover {
        color: #636363;
    }
}


.searchInputDelX span{
    font-size: 22px;
    padding: 0;

}

.filterDiv {
    cursor: pointer;
    color: #636363;
    font-size: 16px;
}

.filterDiv:hover {
    color: #FF8C00FF;

}

/* Media Query für Geräte mit Touch-Unterstützung */
@media (hover: none) {
    /* :hover-Stile deaktivieren und zu den Standardstilen zurückkehren */
    .filterDiv:hover {
        color: #636363;
    }
}

.filterDiv span {
    color: #ffffff;
}


