li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    margin: 1px 0;
    border-bottom: solid 1px;
    border-bottom-color: #363636;
    transition: border-bottom-color 0.3s;

}


@media (hover: none) {
    /* :hover-Stile deaktivieren */
    li:hover {
        border-bottom-color: #363636;
    }
}

.buttonDiv {
    display: flex;
    align-items: center;
}

.heartButton {

    background-color: transparent;
    color: #636363;
    cursor: pointer;
    box-shadow: none;
    border: none;
    padding: 0 5px;
    font-size: 22px;
    transition: color 0.3s, transform 0.3s;
}

.heartButton:hover {
    transform:scale(1.2);
}

@media (hover: none) {
    /* :hover-Stile deaktivieren */
    .heartButton:hover {
        transform: scale(1);
    }
}

.heartButtonForFavorite {
    background-color: transparent;
    color: darkorange;
    cursor: pointer;
    box-shadow: none;
    border: none;
    padding: 0 5px;
    font-size: 22px;
    transition: color 0.3s, transform 0.3s;
}

.heartButtonForFavorite:hover {
    transform: scale(0.8);
}

@media (hover: none) {
    /* :hover-Stile deaktivieren */
    .heartButtonForFavorite:hover {
        transform: scale(1);
    }
}

.playButton {
    font-size: 21px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    box-shadow: none;
    border: none;
    padding: 0;
    width: 45px;
    transition: color 0.3s;
}

.playButton:hover {
    color: #FF8C00FF;
}